<section id="contact" class="reveal">
  <div class="container">
    <span class="section-eyebrow"> Contact </span>

    <h2 class="section-title">Let's Connect</h2>

    <div class="section-divider"></div>

    <div class="contact-grid">
      <div class="contact-item card-dark">
        <i class="fas fa-location-dot"></i>
        <div>
          <h6>Location</h6>
          <p>Pune, Maharashtra, India</p>
        </div>
      </div>

      <div class="contact-item card-dark">
        <i class="fas fa-envelope"></i>
        <div>
          <h6>Email</h6>
          <p>{{ hero.email }}</p>
        </div>
      </div>

      <div class="contact-item card-dark">
        <i class="fab fa-linkedin"></i>
        <div>
          <h6>LinkedIn</h6>
          <a [href]="hero.linkedin" target="_blank"> View Profile </a>
        </div>
      </div>

      <div class="contact-item card-dark">
        <i class="fab fa-github"></i>
        <div>
          <h6>GitHub</h6>
          <a [href]="hero.github" target="_blank"> View Repository Portfolio </a>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper card-dark">
      <h3 class="form-title">Send a Message</h3>

      <form action="https://formspree.io/f/mzdwqqjd" method="POST">
        <input type="hidden" name="_next" value="https://warkariii28.github.io/portfolio-website/" />
        <div class="mb-3">
          <input type="text" name="name" class="form-control" placeholder="Your Name" required />
        </div>

        <div class="mb-3">
          <input type="email" name="email" class="form-control" placeholder="Your Email" required />
        </div>

        <div class="mb-3">
          <textarea
            name="message"
            rows="6"
            class="form-control"
            placeholder="Your Message"
            required
          ></textarea>
        </div>

        <button type="submit" class="btn-accent">Send Message</button>
      </form>
    </div>
  </div>
</section>
