.navbar{
    background: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(77,157,224,.15);

    box-shadow: 0 4px 20px rgba(0,0,0,.15);
}
.nav-link{
  color: #8fa3be;
  margin-left: 0.8rem;
  transition: 0.3s;
}

.nav-link:hover{
  color: #4d9de0;
}

.navbar-toggler{
    border:1px solid rgba(255,255,255,.15);
    border-radius:12px;
    padding:8px 12px;
    background:rgba(255,255,255,.03);
}

.navbar-toggler:focus{
    box-shadow:none;
}
.navbar-toggler-icon{
    filter: brightness(0) invert(1);
}
.navbar-brand{
    color: #ffffff !important;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #ffffff !important;
}

.navbar-toggler:focus{
    box-shadow:none;
}
@media (max-width:768px){

    .navbar-collapse{
        background:#112240;
        border:1px solid rgba(100,255,218,.15);
        border-radius:16px;

        padding:12px 18px;
        margin-top:12px;

        max-height:70vh;
        overflow-y:auto;

        backdrop-filter:blur(12px);

        box-shadow:0 10px 30px rgba(0,0,0,.25);
    }

    .navbar-nav{
        gap:0;
    }

    .nav-link{
        padding:10px 0 !important;
        margin-left:0;
    }

    .navbar .btn-accent{
        width:100%;
        margin-top:12px;
    }
}

@media(min-width:993px){

    .navbar{
        left:280px;
        width:calc(100% - 280px);
    }

}

@media (min-width:993px){

    .navbar{
        left:280px;
        width:calc(100% - 280px);
    }

}