<div class="sidebar">

    <img
      src="images/profile.png"
      alt="Atharv Warkari"
      class="sidebar-photo">

    <h3 class="sidebar-name">
      Atharv Warkari
    </h3>

    <p class="sidebar-role">
      Software Developer
    </p>

    <div class="sidebar-socials">

      <a [href]="hero.github" target="_blank">
        <i class="fab fa-github"></i>
      </a>

      <a [href]="hero.linkedin" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>

      <a [href]="'mailto:' + hero.email">
        <i class="fas fa-envelope"></i>
      </a>

    </div>

    <a
      href="cv/Atharv_CV.pdf"
      target="_blank"
      class="resume-btn">

      Resume

    </a>

</div>